<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<h1>Add New {{stateInDB.state}} School</h1>
<form method="POST" action="/schools/{{_id}}">
    <label for="name">College Name</label>
    <input type="text" name="name"/>

    <label for="students">Students</label>
    <input type="number" name="students"/>

    <label for="mascot">Mascot</label>
    <input type="text" name="mascot"/>

    <input type="hidden" name="teams" value="0"/>

    <input type="hidden" name="stateId" value="{{_id}}"/>

    <input type="submit" value="Add School"/>
</form>