<h1>add school</h1>
<h1>{{_id}}</h1>
<form method="POST" action="/schools/{{_id}}">
    <label for="name">College Name</label>
    <input type="text" name="name"/>

    <label for="students">Students</label>
    <input type="number" name="students"/>

    <label for="mascot">Mascot</label>
    <input type="text" name="mascot"/>

    <label for="athleticsRank">Athletics Rank</label>
    <input type="number" name="athleticsRank"/>

    <input type="submit" value="Add School"/>
</form>