<h1>Add new state</h1>
{{!-- try writing multiple actions in schools--}}
<form method="POST" action="/states">
    <label for="state">State</label>
    <input type="text" name="state"/>

    <label for="capital">Capital City</label>
    <input type="text" name="capital"/>

    <label for="population">Population</label>
    <input type="number" name="population"/>

    <label for="higherEductionRank">Higher Education Rank</label>
    <input type="number" name="higherEducationRank"/>

    <input type="submit" value="Add State"/>
</form>