<h1>Add {{singleSchool.name}} Team Page</h1>

<form method="POST" action="/teams/{{singleSchool._id}}">
    <label for="sport">Sport Name</label>
    <input type="text" name="sport"/>

    <label for="players">Players</label>
    <input type="number" name="players"/>

    <label for="nationalRank">National Rank</label>
    <input type="number" name="nationalRank"/>

    <label for="coach">Coach</label>
    <input type="text" name="coach"/>

    <input type="hidden" name="schoolId" value="{{singleSchool._id}}"/>

    <input type="submit" value="Add Team"/>

</form>