<h1>Add New {{singleSchool.name}} Team</h1>
<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<form method="POST" action="/teams/{{singleSchool._id}}">
    <label for="sport">Sport</label>
    <input type="text" name="sport"/>

    <label for="players">Players</label>
    <input type="number" name="players"/>

    <label for="nationalRank">National Rank</label>
    <input type="number" name="nationalRank"/>

    <label for="coach">Coach</label>
    <input type="text" name="coach"/>

    <input type="hidden" name="schoolId" value="{{singleSchool._id}}"/>

    <input type="submit" value="Add Team"/>

</form>