<h1>choose school for teams</h1>
<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<table>
    {{#each matchingSchools}}
    <tr>
        <td class="choose"><a href="/teams/{{_id}}">{{name}}</a></td>
    </tr>
    {{/each}}
</table>

<li>
<a href="/schools/addSchool/{{singleState._id}}">Add School</a>
</li>
