<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<h4>What School Would You Like to Add a Team to?</h4>
<table class="table">
    {{#each matchingSchools}} 
    <tr>  
        <td class="choose"><a href="/teams/addTeam/{{_id}}">{{name}}</a></td>
    </tr>
    {{/each}}
</table>
<li>
<a href="/schools/addSchool/{{stateId}}">Add New School</a>
</li>