<h1>Choose State for team</h1>
<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<ul>
    {{#each statesInDB}}
    <li><a href="/teams/chooseSchoolForTeams/{{_id}}">{{state}}</a></li>
    {{/each}}
</ul>
<a href="/states/addState">Add New State</a>