<h1>Home Page</h1>
<div class="homeContainer">
<nav class="mainNav1">
    <a class="homeAnchor" href="/states">View All States</a>
    <a class="homeAnchor" href="/schools">View All Schools</a>
    <a class="homeAnchor" href="/teams">View All Teams</a>
</nav>
<nav class="mainNav2">
    <a class="homeAnchor" href="/schools/chooseStateForSchools">Choose Schools By State</a>
    <a class="homeAnchor" href="/teams/chooseStateForTeams">Choose Team By State</a>
</nav>
</div>
