<h1>Request Successful!</h1>
<div class="homeContainer">
<nav class="mainNav1">
    <a class="homeAnchor" href="/main">Home</a>
    <a class="homeAnchor" href="/states">View All States</a>
    <a class="homeAnchor" href="/schools">View All Schools</a>
    <a class="homeAnchor" href="/teams">View All Teams</a>
</nav>
<nav class="mainNav2">
    <a class="homeAnchor" href="/schools/chooseStateForSchools">See Schools By State</a>
    <a class="homeAnchor" href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
</div>

