<h1>{{singleSchool.name}} teams page</h1>
<ul>
    {{#each teamsInDB}}
    <li>
        {{sport}}
    </li>
    
    {{/each}}
    <li></li>
</ul>
<a href="/teams/addTeam/{{singleSchool._id}}">New Link</a>