body, html {   
    background:  green;
    text-align: center;
}
.container {
    width: 750px;
    border: 2px black solid;
    display: inline-block;

}
.table {
    display: flex;
    justify-content: space-evenly;   
    border-spacing: 30px 10px;
}
#stateHeader {
    padding-right: 10px;
}
#capitalHeader {
    padding-right: 15px;
}
#educationRank {
    padding-left: 10px;
}
