body, html {   
    background:  white;
    text-align: center;
    list-style: none;
}
h1 {
    margin-top: 20px;
}
li {
    list-style: none;
    margin: 15px;
    padding: 5px;

}
nav {
    background:gray;
    height: 55px;
    margin-bottom: 5px;
    display: inline-block;
}
form {
    display: inline-block;
    width: 200px;
}
input {
    margin-top: 20px;
    border: 2px solid black;
}
input:hover {
    background: lightblue;
}

a {
    padding: 10px;
    border-radius: 5px;

}

.homeContainer {
    width: 700px;
    display: inline-block;
}

a:hover {
    background: rgb(80,80,80);
}
.mainNav1 {
    background: gray;
    margin-bottom: 80px;
    margin-top: 30px;
    width: 650px;
    display: inline-block;
    padding: 0;
    border-radius: 7px;
    height: 60px;
}
.mainNav2 {
    width: 500px;
    display: inline-block;
    border-radius: 7px;
    background: gray;
    height: 60px;
}
.homeAnchor {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-right: 17px;
    padding-left: 17px;
    margin: 5px;
}

.homeAnchor:hover {
    background: rgb(80,80,80)
}
tr {
    justify-content: center;
}
.choose {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    height: 30px;
}

table {
    text-align: center;
    border-spacing: 30px 10px;
    border: 2px gray solid;
    width: 100%;


}
#stateHeader {
    padding-right: 10px;
}
#capitalHeader {
    padding-right: 15px;
}
#educationRank {
    padding-left: 10px;
}
